body, html {
    overflow-x: hidden;
    padding-right: 0 !important;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.fixed-top {
    position: fixed;
    width: calc(100% - 225px);
    z-index: 1030;
}

.sidebar-icon-only .fixed-top {
    width: calc(100% - 68px);
}

button:focus, a:focus, a:hover {
    outline: none !important;
    text-decoration: none !important;
}
.navbar-menu-wrapper h3.page-title {
    margin: 14px 13px;
    color: #2c343b;
}

.topheader {
    height: 80px;
    background: #fafdfb;
    padding: 10px 20px 0 20px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    transition: background 0.25s ease;
    display: flex;
    border-radius: 10px;
    margin: 0;
    border: 0;
    box-shadow: 0 0 12px 6px #f3f3f3;
    padding: 2px 10px;
    position: relative;
    min-height: 50px;
}

.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    color: #9c9fa6;
    display: flex;
    width: calc(100% - 260px);
    width: 100%;
}

button.navbar-toggler {
    background: no-repeat;
    border: 0;
    font-size: 30px;
    color: #424e58;
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
    position: relative;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: #000;
    display: flex;
    padding: 0;
}

.nav-profile-text {
    padding: 5px 0 4px;
    margin-right: 5px;
}

.nav-profile-text i.mdi.mdi-account-circle {
    display: inline-flex;
    font-size: 40px;
    color: #c7c7c7;
    margin-right: 4px;
}

.nav-profile-text p {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 0;
    color: #424e58;
    font-weight: 500;
}

.nav-profile-text p span {
    display: block;
    font-size: 13px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    color: #000000;
    font-size: 24px;
    line-height: 50px;
}

.dropdown .dropdown-toggle:after {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\f140";
    width: auto;
    height: auto;
    vertical-align: baseline;
    font-size: .75rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    position: absolute;
    margin-top: 0;
    background: #fff;
    padding: 10px 5px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 0px 13px;
    cursor: pointer;
}

.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    color: #000;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
    font-size: 17px;
}

button.navbar-toggler {
    background: no-repeat;
    border: 0;
    font-size: 30px;
    color: #424e58;
}

li {
    list-style: none;
}

.navbar-menu-wrapper button.navbar-toggler.btn.btn-primary {
    background: none;
    box-shadow: none;
    color: #000;
    padding: 0;
}

/* Start Responsive Css */

@media screen and (max-width:992px) {
    .footer, .fixed-top, .sidebar-icon-only .fixed-top {
        margin-left: 0;
        width: 100%;
    }
}